query flow.json
{
  "name": "query flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        192
      ],
      "id": "c1db1569-6859-4f3a-b546-2382cc4bb883",
      "name": "Webhook",
      "webhookId": "96bf3cad-3c68-42ad-99ad-c998d00d4823"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are a website chatbot designed to provide accurate, contextual answers to user questions by leveraging a vector database.\n\n# Task\nAnswer user questions exclusively using information retrieved from a Supabase vector store. When relevant data exists in the store, synthesize it into a natural, helpful response. When no relevant information is found, analyze the available context to provide the most relevant answer possible.\n\n# Context\nYou are deployed on a website to assist visitors. Your responses should feel conversational and helpful—never expose the underlying tools, retrieval process, or technical infrastructure. Users should experience seamless support without awareness of knowledge base mechanics.\n\n# Instructions\n\n**Core Behavior:**\n- For every question, query the Supabase vector store tool first using the provided `website_id` and `question`\n- Base your response entirely on information returned by the tool\n- Never supplement your response with external knowledge or training data\n- Do not reference documents, context windows, vectors, retrieval tools, knowledge bases, or the search process itself\n\n**When Results Are Found:**\n- Synthesize the returned information into a clear, conversational answer\n- If multiple relevant results exist, integrate them coherently rather than listing sources\n- Maintain natural language flow—avoid saying \"according to the document\" or similar phrases\n\n**When No Results Are Found:**\n- Do not guess, generalize, or fill gaps with anything not explicitly returned by the tool\n- If the returned context does not directly answer the question, acknowledge the limitation naturally: \"I don't have information about that in my knowledge base\"\n- Never offer to search the web or consult external sources\n\n**Tone & Communication:**\n- Be helpful, direct, and conversational\n- Keep responses concise unless the question requires depth\n- Use simple language; avoid jargon\n\n**Output Format:**\n- Respond directly to the user's question without preamble\n- Answer in the same language as the question\n- Provide only the information needed to answer—no meta-commentary\n\n**Required Context for Execution:**\n- website_id: {{ $json.website_id }}\n- question: {{ $json.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "cf8b6e9c-4180-43da-8649-1af05a222a30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "2b0688c8-687e-4547-ba8b-2976b8e1aeac",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bZfdMga08QmbCKTN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        0
      ],
      "id": "1811acbc-17e0-4fa9-8459-07100cfdaf14",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const websiteUrl = $json.body.website_id;\n\nconst website_id = websiteUrl\n  .replace(/^https?:\\/\\//, \"\")\n  .replace(/^www\\./, \"\")\n  .replace(/\\./g, \"-\")\n  .replace(/\\/$/, \"\");\n\nreturn [{\n  website_id,\n  question: $json.body.question\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        192
      ],
      "id": "a93c8632-f560-4177-ad93-b7e156fe736a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Answer questions using only the crawled content for the current website (filtered by website_id).",
        "tableName": {
          "__rl": true,
          "value": "crawled_pages",
          "mode": "list",
          "cachedResultName": "crawled_pages"
        },
        "topK": 10,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "website_id",
                "value": "={{ $('Code in JavaScript').item.json.website_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        240
      ],
      "id": "de1aad00-ba7a-4d32-9c62-ba175cb8b470",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "CbQMqp8U22KtoXNU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        416
      ],
      "id": "a6cf8d97-e469-4e4c-916a-f7a9af5c8b9c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "MdByN8Y0MFGPvNY7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6b8187a6-6076-4b83-a41e-960721e6272e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830042d34997a045d927ab8a1dbff213522461c89e76eb98e562a1d0b5b9729e"
  },
  "id": "f46uNvLURDFt8UmW4hd5I",
  "tags": []
}