query-flow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst websiteInput = body.website_id || body.source_url || body.url;\nconst question = body.question;\n\nif (!websiteInput) {\n  throw new Error(\"Missing website_id, source_url, or url in request body.\");\n}\n\nif (!question) {\n  throw new Error(\"Missing question in request body.\");\n}\n\nfunction normalizeWebsiteId(value) {\n  const raw = String(value).trim().replace(/^[\"']|[\"']$/g, '');\n\n  try {\n    const parsed = new URL(/^https?:\\/\\//i.test(raw) ? raw : `https://${raw}`);\n    if (parsed.hostname && parsed.hostname.includes('.')) {\n      return parsed.hostname\n        .replace(/^www\\./i, '')\n        .replace(/[^a-zA-Z0-9]+/g, '-')\n        .replace(/^-+|-+$/g, '')\n        .toLowerCase();\n    }\n  } catch (error) {}\n\n  return raw\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .split(/[/?#]/)[0]\n    .replace(/[^a-zA-Z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nreturn [{\n  json: {\n    website_id: normalizeWebsiteId(websiteInput),\n    question: String(question).trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        1376
      ],
      "id": "8324bd69-ba2e-4bf4-825b-827a36f77949",
      "name": "Normalize Chat Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        1376
      ],
      "id": "85b11245-ce1a-4941-9032-e05082eae652",
      "name": "Webhook2",
      "webhookId": "96bf3cad-3c68-42ad-99ad-c998d00d4823"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Role\nYou are a helpful, conversational customer support assistant for the website identified by website_id.\n\n#Core Objective\nYour goal is to answer the user's question accurately using only the information provided by the website retrieval tool. Do not use outside knowledge, speculation, or assumptions.\n\n# Rules of Engagement\n- Always query the website retrieval tool first before formulating your response.\n- If the retrieved information does not contain the answer, politely let the user know you couldn't find that specific detail, and offer to help them with something else or suggest they contact direct support. Keep this fallback response natural and friendly.\n- Never mention tools, documents, databases, retrieval systems, or any internal processes. \n- Avoid referencing the source explicitly (do not say \"according to the website\" or \"based on the documents\").\n\n#Answer Style & Constraints\nUltra-Short: Keep answers under 25 words. Be direct and get straight to the point.\n\nNo Over-Explaining: Only answer the specific question asked. Do not list all company services unless explicitly requested.\n\nFormatting: Do not use markdown, bold text, bullet points, headings, or raw URLs.\n\n#Context\nwebsite_id: {{ $json.website_id }}\nquestion: {{ $json.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        1376
      ],
      "id": "d752025e-b4e4-4273-9a1d-5f6f6ccf79a7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -256,
        1600
      ],
      "id": "1019c9d3-99c2-401e-a7b9-80ce1864af75",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "PoefuvKgxs0iX7xp",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant crawled website content for the current website_id only. Use this before answering the user's question.",
        "tableName": {
          "__rl": true,
          "value": "crawled_pages",
          "mode": "list",
          "cachedResultName": "crawled_pages"
        },
        "topK": 12,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "website_id",
                "value": "={{ $json.website_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        1600
      ],
      "id": "2a11bfbf-e9f4-4d24-ae10-00bb6d9964dc",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1792
      ],
      "id": "faaaebe3-e2a7-4d9a-96f1-f5b68f3e405d",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "Rjr7g6GehnzAVX9x",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output, \"website_id\": $('Normalize Chat Request').first().json.website_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        1376
      ],
      "id": "9b1b3757-b232-4b7d-9a4c-5bd02fa724d8",
      "name": "Respond to Webhook2"
    }
  ],
  "connections": {
    "Normalize Chat Request": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Normalize Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cec5eb6fd048df69ff80456d2a9835268cb73244c68b42f08cf891e3c839436"
  }
}