website-flow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-bot-backend.onrender.com/discover",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.source_url } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        1040
      ],
      "id": "158df4f4-c6aa-43a1-9817-3c0bdea8282f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        1040
      ],
      "id": "50dd5789-6f6c-4520-ba0f-f74d1b2c2228",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "website_id",
                "value": "={{ $json.metadata.website_id }}"
              },
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2512,
        1264
      ],
      "id": "401e12fb-6d1a-435a-b239-232dd02c3424",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2592,
        1472
      ],
      "id": "90ecb297-0e52-4bf8-8740-c115b12461b3",
      "name": "Recursive Character Text Splitter1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const website_id = $('Edit Fields').first().json.website_id || $('domain-url/wesiteID1').first().json.website_id;\n\nreturn [{\n  json: {\n    website_id,\n    chatbot_url: `http://localhost:5175/bot/${website_id}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        1040
      ],
      "id": "3064806d-9708-40c1-add2-78514dc53b3f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const page = Array.isArray(item.json.pages) ? item.json.pages[0] : item.json.pages;\n\n  return {\n    json: {\n      text: page?.markdown || page?.text || '',\n      metadata: {\n        website_id: $('domain-url/wesiteID1').first().json.website_id,\n        url: page?.url || '',\n        title: page?.title || page?.metadata?.title || ''\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1040
      ],
      "id": "fe58fca6-2e41-41e9-af31-04e3c8763253",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/home",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        592,
        1136
      ],
      "id": "618cb77a-47de-4095-9cef-d390a2283134",
      "name": "Webhook1",
      "webhookId": "8ab6c55e-719b-45cf-9a10-f8f94a700491"
    },
    {
      "parameters": {
        "tableId": "websites"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        1232
      ],
      "id": "ba11e43c-28da-4784-b197-1587d27471c0",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b60a0f0-9bd7-46c1-aaf6-d78788070b2f",
              "name": "pages",
              "value": "={{ $json.pages }}",
              "type": "array"
            },
            {
              "id": "5620783a-635e-4c68-8bae-c146b78a4e7c",
              "name": "website_id",
              "value": "={{ $('domain-url/wesiteID1').first().json.website_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1040
      ],
      "id": "9c584b05-9b32-41ec-bb95-b4c55d6c4546",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "crawled_pages",
          "mode": "list",
          "cachedResultName": "crawled_pages"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2416,
        1040
      ],
      "id": "5cb206cf-1fbe-4765-bf8b-ae08cd6dfc66",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2304,
        1264
      ],
      "id": "960a50f8-4b80-4bcc-b524-c9480761d195",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "KOjtlXHju2NiXB3D",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "007f7bc0-1791-41c0-8f58-4dfdedd79f87",
              "name": "website_id",
              "value": "={{ $json.body.url.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').replace(/[\\/\\.]/g, '-').replace(/-$/, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1136
      ],
      "id": "6af9ca45-bb7e-4c6c-961c-c36e6f59dd04",
      "name": "website-ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "703822e2-3afa-4680-8985-ee1d73bcd592",
              "name": "source_url",
              "value": "={{ $json.body.url }}",
              "type": "string"
            },
            {
              "id": "55434851-5e1e-4160-8003-3a9293702f21",
              "name": "website_id",
              "value": "={{ $json.website_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1136
      ],
      "id": "c6541504-9ae6-4c02-808c-61b48ceea553",
      "name": "domain-url/wesiteID1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-bot-backend.onrender.com/crawl-pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { urls: [$json.urls] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1712,
        1040
      ],
      "id": "1fd9ec12-6437-4fa0-8abe-6cb21d477209",
      "name": "HTTP Request3"
    }
  ],
  "connections": {
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "website-ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "website-ID1": {
      "main": [
        [
          {
            "node": "domain-url/wesiteID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "domain-url/wesiteID1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cec5eb6fd048df69ff80456d2a9835268cb73244c68b42f08cf891e3c839436"
  }
}