website-flow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "let inputUrl =\n  $json.body?.url ??\n  $json.body?.source_url ??\n  $json.query?.url ??\n  $json.query?.source_url ??\n  $json.url ??\n  $json.source_url;\n\nif (inputUrl === undefined || inputUrl === null) {\n  throw new Error('URL is missing. Send \"url\" or \"source_url\".');\n}\n\ninputUrl = String(inputUrl)\n  .trim()\n  .replace(/^[\"']+|[\"']+$/g, '')\n  .replace(/\\r/g, '')\n  .replace(/\\n/g, '')\n  .replace(/\\t/g, '')\n  .replace(/ /g, '');\n\n// Handle protocol-relative URLs such as //www.vrattiks.io/\nif (inputUrl.startsWith('//')) {\n  inputUrl = `https:${inputUrl}`;\n}\n\n// Handle URLs without a protocol\nif (!/^https?:\\/\\//i.test(inputUrl)) {\n  inputUrl = `https://${inputUrl}`;\n}\n\n// Normalize malformed protocol slashes\ninputUrl = inputUrl\n  .replace(/^https?:\\/\\/\\/+/i, 'https://')\n  .replace(/^https:\\/(?!\\/)/i, 'https://')\n  .replace(/^http:\\/(?!\\/)/i, 'http://');\n\n// Validate and extract hostname without using new URL()\nconst urlMatch = inputUrl.match(\n  /^(https?):\\/\\/([^/?#]+)(\\/[^?#]*)?(\\?[^#]*)?(#.*)?$/i\n);\n\nif (!urlMatch) {\n  throw new Error(`Invalid URL format after cleaning: \"${inputUrl}\"`);\n}\n\nconst protocol = urlMatch[1].toLowerCase();\nconst hostWithPort = urlMatch[2];\nconst pathname = urlMatch[3] || '';\n\n// Remove username/password if accidentally provided\nconst hostPart = hostWithPort.split('@').pop();\n\n// Remove port when creating website_id\nconst hostname = hostPart.split(':')[0].toLowerCase();\n\nif (\n  !hostname ||\n  hostname.includes(' ') ||\n  !hostname.includes('.')\n) {\n  throw new Error(`Invalid hostname: \"${hostname}\"`);\n}\n\nconst source_url = `${protocol}://${hostWithPort}${pathname}`\n  .replace(/\\/+$/, '');\n\nconst website_id = hostname\n  .replace(/^www\\./i, '')\n  .replace(/[^a-z0-9]+/gi, '-')\n  .replace(/^-+|-+$/g, '')\n  .toLowerCase();\n\nreturn [\n  {\n    json: {\n      success: true,\n      source_url,\n      website_id,\n      cleaned_input: inputUrl,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        8752
      ],
      "id": "25dd4a5c-ca33-4921-8fa5-88dde44ee539",
      "name": "Normalize Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "request-ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1472,
        8752
      ],
      "id": "29aadb6b-e740-4f8c-9f99-caafbf053c69",
      "name": "Valid Request?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1184,
        9216
      ],
      "id": "18f50106-9351-4b62-844e-04ce7341bb35",
      "name": "Respond Invalid Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "website-row-id",
              "name": "website_id",
              "value": "={{ $json.website_id }}",
              "type": "string"
            },
            {
              "id": "website-row-source-url",
              "name": "source_url",
              "value": "={{ $json.source_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        8368
      ],
      "id": "6e086710-b442-4602-81ce-4be01432067d",
      "name": "Prepare Website Row1"
    },
    {
      "parameters": {
        "tableId": "websites",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -736,
        8384
      ],
      "id": "329db5cf-15cb-45f3-858b-4318004fb025",
      "name": "Create Website Row1",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "crawled_pages",
        "filterType": "string",
        "filterString": "=metadata->>website_id=eq.{{ $json.website_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        8624
      ],
      "id": "72048076-9589-43fe-b12f-4ef18df58c7e",
      "name": "Delete Old Pages2",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-bot-backend-production.up.railway.app/discover",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.source_url }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        8944
      ],
      "id": "bebe186b-5520-4dad-aa3b-efdb52f6f73e",
      "name": "Discover Pages1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://website-bot-backend-production.up.railway.app/crawl-pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { urls: [$json.urls], max_pages: 20 } }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        8944
      ],
      "id": "ca00cb9f-f3c3-4424-9bfa-279d172a889d",
      "name": "Crawl Pages1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const website_id = $json.website_id || $('Normalize Request1').first().json.website_id;\nconst pages = Array.isArray($json.pages) ? $json.pages : [];\nconst successful = pages.filter(page => page && typeof page.markdown === 'string' && page.markdown.trim().length >= 50);\nconst text_length = successful.reduce((sum, page) => sum + page.markdown.trim().length, 0);\n\nif (successful.length === 0 || text_length < 50) {\n  return [{\n    json: {\n      success: false,\n      website_id,\n      pages_checked: pages.length,\n      successful_pages: 0,\n      text_length,\n      error: 'The crawl-api did not return enough readable markdown for this website. Check the Crawl Pages node output for failed or empty_content pages.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    website_id,\n    pages_checked: pages.length,\n    pages_indexed: successful.length,\n    text_length,\n    chatbot_url: `https://website-bot-frontend-1klt.onrender.com/${website_id}/chat`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        9456
      ],
      "id": "8bca85ee-874a-47ae-a298-b489db356504",
      "name": "Response Logic2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        512,
        9456
      ],
      "id": "4e2cdfc2-f179-4fdb-836a-e0742e713df7",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/home",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1904,
        8752
      ],
      "id": "b76075bf-b236-40ca-80d3-ffcfdf23f933",
      "name": "Webhook5",
      "webhookId": "8ab6c55e-719b-45cf-9a10-f8f94a700491"
    },
    {
      "parameters": {
        "jsCode": "const CHUNK_SIZE = 1500;\nconst OVERLAP = 300;\nconst items = [];\n\nfor (const item of $input.all()) {\n  const text = item.json.text;\n  const metadata = item.json.metadata;\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + CHUNK_SIZE, text.length);\n    items.push({ json: { text: text.slice(start, end), metadata } });\n    if (end === text.length) break;\n    start += CHUNK_SIZE - OVERLAP;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        8816
      ],
      "id": "89881054-6ab3-4cae-9074-e4008703943e",
      "name": "Chunk Text3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": { \"parts\": [ { \"text\": {{ JSON.stringify($json.text) }} } ] }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "position": [
        704,
        8736
      ],
      "id": "2209b512-ccc7-43e0-98a8-e504bf110814",
      "name": "Embed Content3",
      "credentials": {
        "googlePalmApi": {
          "id": "Rjr7g6GehnzAVX9x",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const website_id = $input.first().json.metadata.website_id;\n\nreturn [{\n  json: {\n    website_id,\n    chatbot_url: `https://website-bot-frontend-1klt.onrender.com/${website_id}/chat`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        9008
      ],
      "id": "878e80e8-c1f8-4167-a164-54e9b74e7ffb",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "jsCode": "const pages = Array.isArray($input.first().json.pages) ? $input.first().json.pages : [];\nconst website_id = $input.first().json.website_id || $('Normalize Request1').first().json.website_id;\n\nreturn pages\n  .filter(page => page && typeof page.markdown === 'string' && page.markdown.trim().length >= 150)\n  .map(page => ({\n    json: {\n      text: page.markdown.trim(),\n      metadata: {\n        website_id,\n        url: page.url\n      }\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        8896
      ],
      "id": "507e523c-343f-4922-afa9-e01c060e7fc9",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b60a0f0-9bd7-46c1-aaf6-d78788070b2f",
              "name": "pages",
              "value": "={{ $json.pages }}",
              "type": "array"
            },
            {
              "id": "efa95061-a3dd-476f-89c4-8c17c3b9f25f",
              "name": "website_id",
              "value": "={{ $('Normalize Request1').first().json.website_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        8960
      ],
      "id": "27f8e4ff-f3b9-4ff7-8797-96c7b9c3b14d",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Request1').first().json;\nconst chunks = $('Chunk Text3').all();\n\nreturn $input.all().map((item, index) => {\n  const values = item.json.embedding?.values || item.json.embeddings?.[0]?.values;\n  const original = chunks[index]?.json;\n\n  if (!Array.isArray(values) || values.length === 0) {\n    throw new Error(`Embedding values are missing for chunk ${index}`);\n  }\n\n  if (!original?.text) {\n    throw new Error(`Original chunk text is missing for chunk ${index}`);\n  }\n\n  return {\n    json: {\n      content: original.text,\n      website_id: normalized.website_id,\n      source_url: original.metadata?.url || normalized.source_url,\n      metadata: {\n        ...(original.metadata || {}),\n        website_id: normalized.website_id,\n        source_url: normalized.source_url,\n        chunk_index: index,\n      },\n      embedding: `[${values.join(',')}]`,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        8656
      ],
      "id": "d2d2283e-4446-4779-a495-3ae0b4927586",
      "name": "Format Embedding3"
    },
    {
      "parameters": {
        "tableId": "crawled_pages",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        8976
      ],
      "id": "fe9c0fe9-c3b4-4d15-b8ef-c31ecba6796e",
      "name": "Insert Crawled Page3",
      "credentials": {
        "supabaseApi": {
          "id": "GCtz0rzUQg3X3R0o",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        8944
      ],
      "id": "8112b780-b438-423e-baa8-b25e1dc2d22e",
      "name": "Split Out3"
    }
  ],
  "connections": {
    "Normalize Request1": {
      "main": [
        [
          {
            "node": "Valid Request?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Request?1": {
      "main": [
        [
          {
            "node": "Prepare Website Row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Old Pages2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discover Pages1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Website Row1": {
      "main": [
        [
          {
            "node": "Create Website Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover Pages1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl Pages1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Logic2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Normalize Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text3": {
      "main": [
        [
          {
            "node": "Embed Content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Content3": {
      "main": [
        [
          {
            "node": "Format Embedding3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Chunk Text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Logic2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Embedding3": {
      "main": [
        [
          {
            "node": "Insert Crawled Page3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Crawled Page3": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Crawl Pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cec5eb6fd048df69ff80456d2a9835268cb73244c68b42f08cf891e3c839436"
  }
}